.season-summary {
    display: flex;
    flex-direction: column;
    background-color: #fff4ca;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    /* min-height: 100px; */
    margin: 0 15%;
    min-height: fit-content;
}

.season-summary__chart {
    background-color: #ffffff;
    padding: 3rem 0;
    margin: 1rem auto;
    max-height: fit-content;
    width: 90%;
    border: 1px ridge rgb(230, 229, 229);
}

.season-summary__filter {
    position: absolute;
    max-width: 10%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 1rem;
}